Repository techexpertspro/portal-ascepa: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix, prettier --write

fix: adjust fix bollean true
  .lintstagedrc
Due: none

Feat/feature husky integration 22 (#45)
  .eslintrc.base.json
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: none

chore: update nx packages to v19.2.1 (#40)
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  plugins/angular/package.json
Due: none

chore: add vercel deploy prod and deploy preview
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
Due: none

docs(guides): Creation of the document repository
  docs/guides/CODE_OF_CONDUCT.md
  docs/guides/CONTRIBUTING.md
Due: prettier --write

docs(SECURITY): Create SECURITY.MD, Security policy of Project.
  docs/guides/SECURITY.md
Due: prettier --write

feat: add title in component
  src/app/app.component.html
Due: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix

docs: Create Security Policy.
  docs/guides/CODE_OF_CONDUCT.md
  docs/guides/CONTRIBUTING.md
  docs/guides/SECURITY.md
Due: prettier --write

chore: add vercel deploy prod and deploy preview (#49)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  src/app/app.component.html
Due: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix

ci: update deploy.yml
  .github/workflows/deploy.yml
Due: none

fix: move .md to docs folder
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Due: prettier --write

fix: move .md to docs folder (#54)
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/SECURITY.md
Due: prettier --write

doc(readme): add important infos and remove useless commands
  README.md
  public/header-repo.png
Due: prettier --write

doc: fix readme update
  README.md
Due: prettier --write

feat: add module layout and detail for modules in readme
  e2e/tsconfig.json
  jest.config.app.ts
  jest.config.ts
  modules/layout/.eslintrc.json
  modules/layout/README.md
  modules/layout/jest.config.ts
  modules/layout/project.json
  modules/layout/src/index.ts
  modules/layout/src/lib/layout/layout.component.html
  modules/layout/src/lib/layout/layout.component.scss
  modules/layout/src/lib/layout/layout.component.spec.ts
  modules/layout/src/lib/layout/layout.component.ts
  modules/layout/src/test-setup.ts
  modules/layout/tsconfig.json
  modules/layout/tsconfig.lib.json
  modules/layout/tsconfig.spec.json
  nx.json
  project.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

feat: add details create module layout
  README.md
Due: prettier --write

config:Configuration project to integrate semantic release
  .nxreleaserc.json
  package-lock.json
  package.json
  project.json
Due: none

chore: Correção ci/cd
  package-lock.json
Due: none

chore: Correct dependency project to resolve problem in ci/cd
  package-lock.json
Due: none

refactor: removido arquivos não utilizados e comentario e readme main para readme local
  README.md
  modules/layout/README.md
  modules/layout/src/index.ts
  modules/layout/src/lib/layout/layout.component.html
  modules/layout/src/lib/layout/layout.component.scss
  modules/layout/src/lib/layout/layout.component.spec.ts
  modules/layout/src/lib/layout/layout.component.ts
Due: prettier --write

chorefixed d formatting and languagedocs wi Markdown files
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/SECURITY.md
Due: prettier --write

doc(readme): add important infos and remove useless commands (#62)
  README.md
  public/header-repo.png
Due: prettier --write

Translate SECURITY.md file to english
  docs/SECURITY.md
Due: prettier --write

docs: add readme badges
  README.md
Due: prettier --write

Formatting and translate to english from contributing and license
  docs/CONTRIBUTING.md
  docs/LICENSE.md
Due: prettier --write

docs: update readme badge
  README.md
Due: prettier --write

Update email in SECURITY.md
  docs/SECURITY.md
Due: prettier --write

ci&cd: setup sonarcloud
  .github/workflows/ci.yml
  .github/workflows/sonarcloud-scan.yml
  sonar-project.properties
Due: none

ci&cd: setup sonarcloud 2
  .github/workflows/ci.yml
Due: none

test: change test to check sonar
  .github/workflows/ci.yml
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix

docs: add readme badges (#72)
  README.md
Due: prettier --write

Feat/feature criar layout module #55 (#63)
  e2e/tsconfig.json
  jest.config.app.ts
  jest.config.ts
  modules/layout/.eslintrc.json
  modules/layout/README.md
  modules/layout/jest.config.ts
  modules/layout/project.json
  modules/layout/src/index.ts
  modules/layout/src/test-setup.ts
  modules/layout/tsconfig.json
  modules/layout/tsconfig.lib.json
  modules/layout/tsconfig.spec.json
  nx.json
  project.json
  tsconfig.base.json
  tsconfig.json
Due: prettier --write

Translate SECURITY.md file to english (#71)
  docs/CONTRIBUTING.md
  docs/LICENSE.md
  docs/SECURITY.md
Due: prettier --write

test: change test to check sonar 2
  src/app/app.component.spec.ts
Due: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix

ci&cd: setup sonarcloud 3
  .github/workflows/sonarcloud-scan.yml
  sonar-project.properties
Due: none

ci: add sonarcloud a pipeline ci&cd
  .github/workflows/ci.yml
  .github/workflows/sonarcloud-scan.yml
  sonar-project.properties
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
Due: nx affected:lint --fix=true --uncommitted, nx affected:test, nx format:write --uncommited, nx run e2e:lint --fix

docs: license.md moved out of docs
  LICENSE.md
Due: prettier --write

docs: license.md moved out of docs (#77)
  LICENSE.md
Due: prettier --write

fix: sonar coverage on all modules
  .github/workflows/ci.yml
  .github/workflows/sonarcloud-scan.yml
  .husky/pre-commit
  sonar-project.properties
  tools/scripts/merge-coverage.js
Due: none

docs: add sonar quality gate badge
  README.md
Due: prettier --write

Path conditions:
  nx affected:lint --fix=true --uncommitted: any of: {src, e2e}/**/*.{js,ts,jsx,tsx,json,html}
  nx affected:test: any of: {src, e2e}/**/*.{js,ts,jsx,tsx,json,html}
  nx format:write --uncommited: any of: {src, e2e}/**/*.{js,ts,jsx,tsx,json,html}
  nx run e2e:lint --fix: any of: {src, e2e}/**/*.{js,ts,jsx,tsx,json,html}
  prettier --write: any of: *.{css,scss,md}
